body {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  float: left;
  width: 750px;
  padding: 10px;
}

#sidebar {
  float: right;
  width: 100px;
  padding: 10px;
}

#sunburst-breadcrumbs {
  width: 600px;
  height: 70px;
}

#sunburst-legend {
  padding: 10px 0 0 3px;
}

#sunburst-breadcrumbs text, #sunburst-legend text {
  font-weight: 600;
  fill: #fff;
}

#sunburst-chart {
  left: 50%;
  position: absolute;
  margin-left: -375px;
}

#sunburst-chart path {
  stroke: #fff;
}

#sunburst-description {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  text-align: center;
  font-size: 2.5em;
  margin-left: -100px;
  margin-top: -1.25em;
  line-height: 2.5em;
}
